@model DataBaseAccess.KhachHangs

@{
    ViewBag.Title = "Detail";
}

<h2>Detail</h2>

<div>
    <h4>Khach Hang</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MaKhachHang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaKhachHang)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HoTen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HoTen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiaChi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiaChi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SoDienThoai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoDienThoai)

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cmnd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cmnd)

        <dt>
            @Html.DisplayNameFor(model => model.TenLoaiKhachHang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenLoaiKhachHang)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgayTao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayTao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TrangThai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TrangThai)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Update", new { id = Model.MaKhachHang }) |
    @Html.ActionLink("Back to List", "Index")
</p>
